Repository helmholtz-analytics/heat, pull requests merged in 2023-09, with the labels that each got.

#1199 Add `hermitian()` to matrix gallery
  .gitignore
  heat/utils/data/matrixgallery.py
  heat/utils/data/tests/test_matrixgallery.py
Labels: PR talk, linalg, merge queue

#1203 Introduce `manipulations.collect(target_rank)` function and in-place `DNDarray.collect_(target_rank)` method
  heat/core/dndarray.py
  heat/core/manipulations.py
  heat/core/tests/test_dndarray.py
  heat/core/tests/test_manipulations.py
Labels: redistribution, manipulations, merge queue

#1172 Introduce module `preprocessing` for distributed scaling/normalization
  .gitignore
  heat/__init__.py
  heat/core/base.py
  heat/core/io.py
  heat/core/tests/test_io.py
  heat/preprocessing/__init__.py
  heat/preprocessing/preprocessing.py
  heat/preprocessing/tests/__init__.py
  heat/preprocessing/tests/test_preprocessing.py
Labels: enhancement, high-level functions, PR talk, benchmark PR, merge queue

#1215 Added `ht.broadcast_shapes`
  heat/core/__init__.py
  heat/core/stride_tricks.py
  heat/core/tests/test_stride_tricks.py
Labels: API, merge queue

#949 Removed unnecessary `factories.array` call
  heat/core/sanitation.py
  heat/core/tests/test_sanitation.py
Labels: chore, memory footprint, merge queue

#1212 Add `ht.concatenate` to Continuous Benchmarks
  benchmarks/cb/manipulations.py
Labels: benchmarking, PR talk, benchmark PR, merge queue

#912 implementation of additional arithmetic functions
  heat/core/_operations.py
  heat/core/arithmetics.py
  heat/core/tests/test_arithmetics.py
Labels: enhancement, API, PR talk, arithmetics, merge queue

#1214 Improve single benchmark execution
  .github/workflows/bench_report.yml
  .github/workflows/bench_trigger.yml
  benchmarks/cb/linalg.py
Labels: benchmarking, PR talk, benchmark PR, merge queue

#1206 Implement `to_sparse()` method for DNDarray conversion to DCSR_matrix
  heat/sparse/manipulations.py
  heat/sparse/tests/test_manipulations.py
Labels: Sparse CSR, merge queue

#1204 Bugs/341 rework mpi communication wrappers
  heat/core/communication.py
  heat/core/printing.py
  heat/core/tests/test_communication.py
Labels: MPI, PR talk, communication, benchmark PR, merge queue

#1221 Add SECURITY.md and vulnerability report template
  .github/ISSUE_TEMPLATE/vulnerability.yml
  SECURITY.md
Labels: documentation, security
