Repository helmholtz-analytics/heat, pull requests merged in 2023-05, with the labels that each got.

#1142 Outsource CI workflow (release)
  .github/workflows/CIBase.yml
  .github/workflows/CommentPR.yml
  .github/workflows/ci.yaml
  .github/workflows/ci_cb.yml
  .gitlab-ci.yml
  README.md
Labels: workflows

#1144 Outsource CI workflow (main)
  .github/workflows/CIBase.yml
  .github/workflows/CommentPR.yml
  .github/workflows/ci.yaml
  .github/workflows/ci_cb.yml
  .gitlab-ci.yml
  README.md
  heat/sparse/tests/test_arithmetics.py
  heat/sparse/tests/test_dcsrmatrix.py
  heat/sparse/tests/test_factories.py
  heat/sparse/tests/test_manipulations.py
Labels: workflows

#1125 Features/560 reshape speedup
  heat/core/dndarray.py
  heat/core/manipulations.py
Labels: manipulations, memory footprint, benchmark PR

#1154 Introduce `DNDarray.__array__()` method
  heat/core/dndarray.py
  heat/core/tests/test_dndarray.py
Labels: dndarray, interoperability

#1152 support amd HIP
  .github/workflows/CIBase.yml
  .github/workflows/CommentPR.yml
  .github/workflows/ReceivePR.yml
  heat/core/linalg/tests/test_qr.py
  heat/core/tests/test_statistics.py
Labels: testing, HW:ROCm

#1147 Drop support for PyTorch 1.7, Python 3.6
  .github/workflows/ci.yaml
  heat/core/arithmetics.py
  heat/core/linalg/qr.py
  heat/core/manipulations.py
  heat/core/printing.py
  heat/core/rounding.py
  heat/core/tests/test_manipulations.py
  heat/nn/functional.py
  heat/optim/lr_scheduler.py
  heat/utils/vision_transforms.py
  setup.py
Labels: interoperability

#1075 Fixed initialization of DNDarrays communicator in some routines
  heat/core/_operations.py
  heat/core/linalg/basics.py
  heat/core/linalg/qr.py
  heat/core/manipulations.py
  heat/core/statistics.py
Labels: communication, benchmark PR

#1160 hSVD: Concatenate arrays to reduce communication
  heat/core/linalg/svdtools.py
  heat/core/linalg/tests/test_svdtools.py
Labels: high-level functions, linalg
