Repository helmholtz-analytics/heat, pull requests merged in 2024-04, with the labels that each got.

#1421 Update actions in scorecard.yml
  .github/workflows/scorecard.yml
  README.md
Labels: workflows, security

#1413 Exclude PR labels from draft changelog
  .github/release-drafter.yml
Labels: PR talk, workflows, chore, merge queue

#1288 Batch-parallel K-means and K-medians
  heat/cluster/__init__.py
  heat/cluster/_kcluster.py
  heat/cluster/batchparallelclustering.py
  heat/cluster/kmeans.py
  heat/cluster/kmedians.py
  heat/cluster/tests/test_batchparallelclustering.py
  heat/cluster/tests/test_kmeans.py
  heat/cluster/tests/test_kmedians.py
  heat/cluster/tests/test_kmedoids.py
  heat/utils/data/spherical.py
  heat/utils/data/tests/test_spherical.py
Labels: enhancement, high-level functions, cluster, merge queue

#1236 Add solver for distributed triangular systems
  heat/core/linalg/solver.py
  heat/core/linalg/tests/test_solver.py
Labels: linalg, merge queue

#1437 Update minimum dependencies for heat
  .github/workflows/ci.yaml
  setup.py
Labels: testing, workflows, version, merge queue

#1363 Fix: `ht.array` constructor respects implicit torch device when copy is set to false
  heat/core/factories.py
  heat/core/tests/test_factories.py
  tutorials/local/2_basics.ipynb
  tutorials/local/3_internals.ipynb
Labels: bug, dndarray, benchmark PR, merge queue, backport release/1.3.x

#1329 Refactoring of QR: stabilized Gram-Schmidt for split=1 and TS-QR for split=0
  benchmarks/cb/linalg.py
  heat/core/linalg/qr.py
  heat/core/linalg/tests/test_qr.py
  heat/core/linalg/tests/test_svdtools.py
  heat/utils/data/tests/test_matrixgallery.py
Labels: linalg, benchmark PR

#1442 Update RELEASE.md
  .github/workflows/latest-pytorch-support.yml
  README.md
  RELEASE.md
Labels: documentation, backport release/1.4.x

#1436 Delete .github/workflows/codesee-arch-diagram.yml
  .github/workflows/codesee-arch-diagram.yml
Labels: workflows, merge queue, backport release/1.4.x

#1446 Update changelog post v1.4.0 and fix related action
  .github/workflows/changelog-updater.yml
  CHANGELOG.md
Labels: PR talk, workflows, merge queue, backport release/1.4.x
