Repository helmholtz-analytics/heat, pull requests merged in 2024-08, with the labels that each got.

#1597 Set upper bound mpi4py <4.0.0
  setup.py
Labels: bug, :exclamation:, CI

#1614 Resolve assertion error in tests of Batch-parallel clustering
  heat/cluster/tests/test_batchparallelclustering.py
Labels: bug, high-level functions, cluster

#1616 downgrade sphinx version
  doc/requirements.txt
Labels: documentation, chore

#1593 Bugs/1592 Resolved two bugs in BatchParallel Clustering
  heat/cluster/batchparallelclustering.py
  heat/cluster/tests/test_batchparallelclustering.py
Labels: bug, high-level functions, cluster

#1583 feat: CB Grafana Dashboard and PR comments
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/bench_report.yml
  .github/workflows/bench_trigger.yml
  .perun.ini
  README.md
  benchmarks/cb/manipulations.py
Labels: benchmarking, PR talk, workflows, benchmark PR, merge queue

#1625 Add JuRSE pick of the month badge
  README.md
Labels: documentation, PR talk, merge queue

#1419 Implement distributed `unfold` operation
  heat/core/dndarray.py
  heat/core/manipulations.py
  heat/core/tests/test_manipulations.py
Labels: enhancement, manipulations, merge queue

#1551 Features/1550 extension of load npy from path to csv-files with same functionality
  .github/workflows/ci.yaml
  heat/core/io.py
  heat/core/tests/test_io.py
  setup.py
Labels: enhancement, I/O, interoperability
