Repository helmholtz-analytics/heat, pull requests merged in 2024-06, with the labels that each got.

#1484 Safety update for CB pipeline
  .github/workflows/bench_report.yml
  .github/workflows/bench_trigger.yml
Labels: benchmark PR

#1509 Support one-sided halo for DNDarrays
  heat/core/dndarray.py
Labels: enhancement, halo, dndarray

#1512 Support PyTorch 2.3.0 (#1467)
  .github/workflows/ci.yaml
  heat/core/arithmetics.py
  heat/core/io.py
  heat/core/linalg/.DS_Store
  heat/core/stride_tricks.py
  heat/fft/fft.py
  setup.py
Labels: interoperability, merge queue

#1377 Distributed Compressed Sparse Column Matrix
  CITATION.cff
  heat/sparse/__init__.py
  heat/sparse/_operations.py
  heat/sparse/arithmetics.py
  heat/sparse/dcsx_matrix.py
  heat/sparse/factories.py
  heat/sparse/manipulations.py
  heat/sparse/tests/__init__.py
  heat/sparse/tests/test_arithmetics_csr.py
  heat/sparse/tests/test_dcscmatrix.py
  heat/sparse/tests/test_factories.py
  heat/sparse/tests/test_manipulations.py
Labels: sparse, merge queue

#1526 Support PyTorch 2.3.1
  .github/workflows/ci.yaml
  setup.py
Labels: interoperability

#1504 Add solver for triangular systems
  heat/core/linalg/solver.py
  heat/core/linalg/tests/test_solver.py
Labels: linalg, merge queue

#1535 Address test failures after netCDF4 1.7.1
  heat/core/io.py
  heat/core/tests/test_statistics.py
  setup.py
Labels: bug, backport release/1.4.x

#1529 Make `dataset.ishuffle` optional
  heat/utils/data/datatools.py
Labels: interoperability, merge queue, Data-parallel NNs / DASO

#1468 Implement tall-skinny SVD
  heat/core/linalg/__init__.py
  heat/core/linalg/svd.py
  heat/core/linalg/tests/test_svd.py
Labels: enhancement, linalg, merge queue, ESAPCA

#1493 `resplit` with Custom MPI Datatypes and AlltoAllW
  .perun.ini
  heat/core/communication.py
  heat/core/dndarray.py
  heat/core/manipulations.py
  heat/core/tests/test_dndarray.py
  heat/core/tiling.py
Labels: MPI, communication, benchmark PR, merge queue
