Repository helmholtz-analytics/heat, pull requests merged in 2024-02, with the labels that each got.

#1333 Backport merged Pull Request
  .github/PULL_REQUEST_TEMPLATE.md
  .github/issue-branch.yml
  .github/workflows/backport.yml
Labels: workflows

#1280 Patch release guide
  RELEASE.md
Labels: documentation, PR talk, merge queue, backport release/1.3.x

#1216 Enhancement: Avoid unnecessary gathering of distributed operand
  heat/core/logical.py
Labels: logical, memory footprint, merge queue, backport release/1.3.x

#1339 Combined merge of 5 dependabot bumb actions, update CITATION.cff and fix codescanning workflow
  .github/workflows/ReceivePR.yml
  .github/workflows/bench_trigger.yml
  .github/workflows/changelog-updater.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docker.yml
  .github/workflows/latest-pytorch-support.yml
  .github/workflows/scorecard.yml
  .pre-commit-config.yaml
  CITATION.cff
Labels: workflows, merge queue, dependencies

#1362 Change dependabot to weekly update
  .github/dependabot.yml
Labels: workflows

#1228 Introduce in-place-operators for `arithmetics.py`
  .github/workflows/ci.yaml
  benchmarks/cb/preprocessing.py
  heat/core/_operations.py
  heat/core/arithmetics.py
  heat/core/signal.py
  heat/core/statistics.py
  heat/core/tests/test_arithmetics.py
  heat/core/tests/test_statistics.py
  heat/core/types.py
  heat/fft/fft.py
  heat/naive_bayes/gaussianNB.py
  heat/preprocessing/preprocessing.py
  heat/preprocessing/tests/test_preprocessing.py
  heat/utils/data/matrixgallery.py
Labels: enhancement, PR talk, memory, benchmark PR, merge queue

#1386 Set correct version on `main`, update Bug report template
  .github/ISSUE_TEMPLATE/bug_report.yml
  heat/core/version.py
Labels: documentation, chore
