Repository helmholtz-analytics/heat, pull requests merged in 2024-09, with the labels that each got.

#1618 Support mpi4py 4.x.x
  heat/core/communication.py
  heat/core/manipulations.py
  heat/core/tests/test_io.py
  heat/core/tests/test_suites/basic_test.py
  heat/optim/tests/test_dp_optimizer.py
  setup.py
Labels: bug, MPI, PR talk, benchmark PR

#1510 Support multiple axes for `ht.percentile`
  heat/core/manipulations.py
  heat/core/statistics.py
  heat/core/tests/test_manipulations.py
  heat/core/tests/test_statistics.py
Labels: PR talk, statistics

#1261 Batched matrix multiplication.
  heat/core/linalg/basics.py
  heat/core/linalg/tests/test_basics.py
  heat/core/linalg/tests/test_qr.py
Labels: enhancement, linalg, benchmark PR
