Repository helmholtz-analytics/heat, pull requests merged in 2025-04, with the labels that each got.

#1697 Implement polar decomposition
  benchmarks/cb/linalg.py
  heat/core/linalg/__init__.py
  heat/core/linalg/basics.py
  heat/core/linalg/polar.py
  heat/core/linalg/qr.py
  heat/core/linalg/solver.py
  heat/core/linalg/tests/test_basics.py
  heat/core/linalg/tests/test_polar.py
Labels: enhancement, testing, benchmarking, linalg, benchmark PR, ESAPCA, features, core

#1859 Bugs/1858 bug load zarr tests fail on main
  heat/core/tests/test_io.py
Labels: bug, PR talk, core

#1826 Make unit tests compatible with NumPy 2.x
  .github/workflows/ReceivePR.yml
  .github/workflows/ci.yaml
  heat/core/linalg/tests/test_basics.py
  heat/core/tests/test_exponential.py
  heat/core/tests/test_manipulations.py
  heat/fft/tests/test_fft.py
  setup.py
Labels: PR talk, core, fft
