Repository helmholtz-analytics/heat, pull requests merged in 2025-03, with the labels that each got.

#1733 Add marker for providing type annotation
  heat/py.typed
  setup.py
Labels: PR talk, chore, features

#1821 Expanded post-release checklist
  .github/workflows/release-prep.yml
Labels: PR talk, backport stable

#1834 Skip large-count communication tests on AMD runner
  heat/core/tests/test_communication.py
Labels: bug, MPI, testing, PR talk, communication, backport stable, core

#1129 Support Apple MPS acceleration
  .github/PULL_REQUEST_TEMPLATE.md
  heat/classification/kneighborsclassifier.py
  heat/cluster/tests/test_batchparallelclustering.py
  heat/cluster/tests/test_kmeans.py
  heat/cluster/tests/test_kmedians.py
  heat/cluster/tests/test_kmedoids.py
  heat/cluster/tests/test_spectral.py
  heat/core/_operations.py
  heat/core/arithmetics.py
  heat/core/devices.py
  heat/core/dndarray.py
  heat/core/factories.py
  heat/core/linalg/basics.py
  heat/core/linalg/solver.py
  heat/core/linalg/tests/test_basics.py
  heat/core/linalg/tests/test_qr.py
  heat/core/linalg/tests/test_solver.py
  heat/core/linalg/tests/test_svd.py
  heat/core/linalg/tests/test_svdtools.py
  heat/core/manipulations.py
  heat/core/random.py
  heat/core/relational.py
  heat/core/signal.py
  heat/core/statistics.py
  heat/core/tests/test_arithmetics.py
  heat/core/tests/test_communication.py
  heat/core/tests/test_complex_math.py
  heat/core/tests/test_dndarray.py
  heat/core/tests/test_exponential.py
  heat/core/tests/test_factories.py
  heat/core/tests/test_io.py
  heat/core/tests/test_logical.py
  heat/core/tests/test_manipulations.py
  heat/core/tests/test_printing.py
  heat/core/tests/test_random.py
  heat/core/tests/test_rounding.py
  heat/core/tests/test_signal.py
  heat/core/tests/test_statistics.py
  heat/core/tests/test_suites/basic_test.py
  heat/core/tests/test_tiling.py
  heat/core/tests/test_trigonometrics.py
  heat/core/tests/test_types.py
  heat/core/tests/test_vmap.py
  heat/core/tiling.py
  heat/core/trigonometrics.py
  heat/decomposition/tests/test_dmd.py
  heat/decomposition/tests/test_pca.py
  heat/fft/tests/test_fft.py
  heat/naive_bayes/gaussianNB.py
  heat/naive_bayes/tests/test_gaussiannb.py
  heat/sparse/tests/test_arithmetics_csr.py
  heat/sparse/tests/test_dcscmatrix.py
  heat/sparse/tests/test_dcsrmatrix.py
  heat/sparse/tests/test_factories.py
  heat/sparse/tests/test_manipulations.py
  heat/spatial/tests/test_distances.py
  heat/utils/data/tests/test_matrixgallery.py
Labels: documentation, testing, PR talk, workflows, classification, cluster, sparse, linalg, interoperability, HW:MPS, features, core, decomposition, utils, fft, naive bayes, spatial

#1744 Add QR for non tall-skinny matrices and `split=0`
  benchmarks/cb/linalg.py
  heat/core/linalg/qr.py
  heat/core/linalg/tests/test_qr.py
Labels: enhancement, testing, benchmarking, PR talk, linalg, benchmark PR, ESAPCA, features, core

#1738 Decrease accuracy on `ht.vmap` tests on multi-node GPU runs
  heat/core/tests/test_vmap.py
  heat/decomposition/tests/test_dmd.py
Labels: bug, testing, manipulations, backport stable, core

#1766 Implement support for `zarr` data format
  .github/workflows/ci.yaml
  heat/core/io.py
  heat/core/tests/test_io.py
Labels: enhancement, testing, I/O, PR talk, workflows, dependencies, features, core
