Repository helmholtz-analytics/heat, pull requests merged in 2025-05, with the labels that each got.

#1794 Add Dynamic Mode Decomposition with Control (DMDc)
  heat/core/dndarray.py
  heat/core/linalg/basics.py
  heat/core/printing.py
  heat/core/tests/test_dndarray.py
  heat/core/tests/test_printing.py
  heat/decomposition/dmd.py
  heat/decomposition/tests/test_dmd.py
Labels: high-level functions, testing, PR talk, ESAPCA, features, core, decomposition

#1867 RTD Notebook gallery and profiling notebook with perun.
  .gitignore
  .pre-commit-config.yaml
  .readthedocs.yaml
  doc/Makefile
  doc/images/jupyter.png
  doc/make.bat
  doc/requirements.txt
  doc/source/conf.py
  doc/source/index.rst
  doc/source/tutorials/notebooks/0_setup/0_setup_haicore.ipynb
  doc/source/tutorials/notebooks/0_setup/0_setup_jsc.ipynb
  doc/source/tutorials/notebooks/0_setup/0_setup_local.ipynb
  doc/source/tutorials/notebooks/1_basics.ipynb
  doc/source/tutorials/notebooks/2_internals.ipynb
  doc/source/tutorials/notebooks/3_loading_preprocessing.ipynb
  doc/source/tutorials/notebooks/4_matrix_factorizations.ipynb
  doc/source/tutorials/notebooks/5_clustering.ipynb
  doc/source/tutorials/notebooks/6_profiling.ipynb
  doc/source/tutorials/tutorial_30_minutes.rst
  doc/source/tutorials/tutorial_clustering.rst
  doc/source/tutorials/tutorial_dpnn.rst
  doc/source/tutorials/tutorial_notebook_gallery.rst
  doc/source/tutorials/tutorial_parallel_computation.rst
  doc/source/tutorials/tutorials.rst
  setup.py
  tutorials/hpc_notebooks/2_basics.ipynb
  tutorials/hpc_notebooks/3_internals.ipynb
  tutorials/hpc_notebooks/4_loading_preprocessing.ipynb
  tutorials/hpc_notebooks/5_matrix_factorizations.ipynb
  tutorials/hpc_notebooks/6_clustering.ipynb
  tutorials/local/2_basics.ipynb
  tutorials/local/3_internals.ipynb
  tutorials/local/4_loading_preprocessing.ipynb
  tutorials/local/6_clustering.ipynb
  tutorials/scripts/hpc/01_basics/01_basics_dndarrays.py
  tutorials/scripts/hpc/01_basics/02_basics_datatypes.py
  tutorials/scripts/hpc/01_basics/03_basics_operations.py
  tutorials/scripts/hpc/01_basics/04_basics_indexing.py
  tutorials/scripts/hpc/01_basics/05_basics_broadcast.py
  tutorials/scripts/hpc/01_basics/06_basics_gpu.py
  tutorials/scripts/hpc/01_basics/07_basics_distributed.py
  tutorials/scripts/hpc/01_basics/08_basics_distributed_operations.py
  tutorials/scripts/hpc/01_basics/09_basics_distributed_matmul.py
  tutorials/scripts/hpc/01_basics/10_interoperability.py
  tutorials/scripts/hpc/01_basics/11_internals_1.py
  tutorials/scripts/hpc/01_basics/12_internals_2.py
  tutorials/scripts/hpc/02_loading_preprocessing/01_IO.py
  tutorials/scripts/hpc/02_loading_preprocessing/02_preprocessing.py
  tutorials/scripts/hpc/02_loading_preprocessing/iris.csv
  tutorials/scripts/hpc/03_matrix_factorizations/matrix_factorizations.py
  tutorials/scripts/hpc/04_clustering/clustering.py
  tutorials/scripts/hpc/05_your_turn/now_its_your_turn.py
  tutorials/scripts/hpc/README.md
  tutorials/scripts/hpc/slurm_script_cpu.sh
  tutorials/scripts/hpc/slurm_script_gpu.sh
Labels: PR talk

#1793 More generic check for CUDA-aware MPI
  heat/core/__init__.py
  heat/core/_config.py
  heat/core/communication.py
Labels: bug, MPI, PR talk, communication, backport stable, core
